body{
    background-image: 
        radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%), 
        url(https://images.pexels.com/photos/753876/pexels-photo-753876.jpeg?cs=srgb&dl=pexels-stephanthem-753876.jpg&fm=jpg);
       
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}

.auth-container{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}